<template>
  <div id="app">
    <nav class="navbar navbar-dark bg-dark" id="nav">
      <router-link to="/" class="nav-link router-link"><b>Home</b></router-link> |
      <router-link to="/users" class="nav-link router-link"><b>Users</b></router-link>
    </nav>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  justify-content: flex-start;
  color: white;
}
#nav .router-link {
  color: white;
}
#nav .router-link:hover {
  color: aqua;
}
</style>
