<template>
    <div class="container">
        <p class="user-counter">Currently registered users: <span>{{ users.length }}</span></p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <!-- creates a table row for each user in the database -->
                <tr v-for="(user, index) in users" :key="index" >
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" @click="getAllUsers">Show Users</button>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import UsersService from "@/services/UsersService";

export default {
  name: "CurrentUsers",
  computed: {
    ...mapState(["users"])
  },
  methods: {
    ...mapActions(["getAllUsers"])
  }
};
</script>

<style scoped>
.container {
  margin-top: 5%;
}
.container .user-counter {
  font-size: 1.5em;
  background-color: darkslategrey;
  color: white;
}
</style>
