<template>
    <div class="container">
        <h2>Simple Registration Form</h2>
        <form @submit.prevent>
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername" placeholder="e.g Jane Doe" v-validate="'required'" name="username"
                    :class="{'form-control': true, 'error': errors.has('username') }" v-model="user.username">
                <span class="small text-danger" v-show="errors.has('username')">Username is required</span>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Enter a password" v-validate="'required|min:8'" name="password"
                    :class="{'form-control': true, 'error': errors.has('password') }" v-model="user.password">
                <span class="small text-danger" v-show="errors.has('password')">Password should be minimum 8 characters</span>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="e.g janedoe@xxxxx.com" v-validate="'required|email'" name="email"
                    :class="{'form-control': true, 'error': errors.has('email') }" v-model="user.email">
                <span class="small text-danger" v-show="errors.has('email')">E-mail is required</span>
            </div>
            <button :disabled="errors.any() || !isComplete" type="submit" class="btn btn-primary" @click="addUser">Submit</button>
        </form>
    </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import UsersService from "@/services/UsersService";

export default {
  name: "RegisterForm",
  props: {},
  computed: {
    ...mapState(["user"]),
    isComplete() {
      return this.user.username && this.user.password && this.user.email;
    }
  },
  methods: {
    ...mapMutations(["RESET_USER"]),
    async addUser() {
      let newUser = this.user;

      try {
        await UsersService.postUser(newUser);
        this.RESET_USER();
        this.clearFormErrors();
        alert("Registration was successful!"); //to be changed to bootstrap modal or a modal component
      } catch (err) {
        console.error(err);
      }
    },
    //reset the validator
    clearFormErrors() {
      this.$validator.reset();
    }
  }
};
</script>

<style scoped>
label {
  float: left;
}
h2 {
  margin: 5% 0;
}
button {
  margin-top: 2%;
  min-width: 30%;
}
.form-control.error {
  border-color: #ff3333;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(255, 71, 71, 0.6);
  background-color: rgba(255, 71, 71, 0.1);
}
</style>
